* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: "Open Sans", "Roboto", "Playfair Display", sans-serif;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.our-story {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem 0;
  gap: 8rem;
}

.our-story img {
  height: 230px;
}

.our-story-text {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  width: 40%;
  gap: 1.3rem;
}

.our-story-text h2 {
  font-family: "Playfair Display";
  letter-spacing: 1.5px;
}

.our-story-text p {
  font-family: "Roboto", sans-serif;
  color: #89878e;
  line-height: 24px;
}

.our-story-text button {
  background-color: white;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  margin: 25px 0 10px 0;
  transition: background-color 300ms ease;
  color: #00f2ff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #00f2ff;
}

.our-story-text button:hover {
  color: #fff;
  background-color: #00f2ff;
  border: 2px solid #00f2ff;
}

.video {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(./images/bgk-middle.png);
  background-repeat: no-repeat;
  height: 35rem;
}

.video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.video img {
  width: 70%;
  height: auto;
}

.video p {
  color: white;
  font-size: 16px;
}

.heroSection {
  position: relative;
  background-image: url(images/bgk-header.png);
  background-position: 0% 0%, 50% 50%;
  background-size: auto, cover;
  width: 100%;
  height: 40rem;
  display: flex;
  text-align: center;
}

.logosection {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  margin-top: 1rem;
  align-items: center;
}

.logo {
  background: rgb(27, 181, 190);
  background: linear-gradient(
    90deg,
    rgba(27, 181, 190, 1) 16%,
    rgba(71, 101, 150, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  font-weight: lighter;
}

.brandLink {
  text-decoration: none;
}

.navLink {
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 10px;
  display: inline-flex;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}

.navLink:hover {
  color: #1bb5be;
}

.textArea {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}

.heading {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.hollow-button {
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  margin: 35px 0 10px 0;

  transition: background-color 300ms ease;
  color: #1bb5be;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid #1bb5be;
}

.hollow-button:hover {
  color: #fff;
  background-color: #1bb5be;
  border: 2px solid #1bb5be;
}

.text {
  margin-top: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  text-align: center;
}

.separator {
  display: block;
  width: 100%;
  max-width: 54px;
  margin-right: auto;
  margin-left: auto;
  border-top: 2px solid #1bb5be;
}

/* form section*/

.logo-container {
  display: flex;
  justify-content: space-evenly;
  align-items: middle;
  flex-direction: row;
}

.fieldset {
  width: 50vh;
  border: none;
}

.name,
.email,
.subject,
.message {
  display: block;
  margin-top: 1em;
  min-height: 1rem;
  padding: 0.5rem;
  width: 100%;
  border-color: lightgrey;
  color: #89878e;
}
.submitBtn {
  padding: 12px 28px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  border: rgb(0, 255, 255) 1px solid;
  color: rgb(0, 212, 212);
  font-weight: bolder;
  border-radius: 2px;
  margin: 1rem 0 0 0;

  transition: background-color 300ms ease;
  color: rgb(0, 255, 255);
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  border: rgb(0, 255, 255) 1px solid;
}

.submitBtn:hover {
  color: #fff;
  background-color: rgb(0, 255, 255);
  border: 1px solid rgb(0, 255, 255);
}

.logo_Title {
  font-size: 1.2rem;
  font-weight: bolder;
  display: block;
  padding: 1.2rem;
  color: #89878e;
}

.form_title {
  padding: 1.2rem 1.2rem 1.2rem 4rem;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #89878e;
}

.logo_container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.logos {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.logo_section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  img {
    padding: 1.5rem;
  }
}

.headers {
  flex: 0 1 20%;
}

form {
  padding: 4rem;
  input {
    border: 1px silver solid;
    font-family: "Courier New", Courier, monospace;
  }
  textarea {
    resize: none;
  }
}

/* Footer */
.footer{
  background-image: url(./images/bgk-footer.png) ;
  background-position: 0% 0%, 50% 50%;
  background-size: cover;
  width: 100%;
  height: 35rem;
  font-family: 'Roboto', sans-serif;
  color: #ffffff8e;
}

.footer-top{
 display: flex;
 gap: 3rem;
}


.footer-left{
  
  width: 33%;
  line-height: 1.5rem;
  text-align:;


}

  .footer-logo{
    padding: 4rem 0 2rem 0;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 100; /* doesn't apply */
    height: fit-content;
    
  }
  
  .footer-logo-color{
    background-image: linear-gradient(to right,
    rgba(27, 181, 190, 1) 16%,
    rgba(71, 101, 150, 1) 100%);
    background-clip: text;
    color: transparent;
    height: max-content;
}

.footer-center{
  display: flex;
  flex-direction: column;
  padding: 5rem 0 2rem 0;
  width: 33%;
  

  h2{
    padding-bottom: 2rem;
  }

  .studio-flex{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  .studio-flex img{
    margin-right: 10px;
  }
}

.footer-right{
  padding: 5rem 0 2rem 0;
 width: 33%;

 h2{
  padding-bottom: 2rem;
 }
}

.footerBtn{
  padding: .5rem 1.5rem;
  background-color: hsla(0, 0%, 100%, 0.295);
  border: none;
}



.input-bg{
  background-color: transparent;
  padding: 1em;
  border: hsla(0, 0%, 100%, 0.459) solid 1px;
  color: hsla(0, 0%, 100%, 0.459);
}

.inputAndBtn{
  display: flex;
  flex-wrap: nowrap;
  gap: .5rem;
  padding-bottom: 2rem;
}

.svg-logo-color{
  fill: #ffffff83; /* dosn't apply */
}

.footer-buttom{
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-ul{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-decoration: none;
  list-style: none;
}
